<div class="row">
  <div class="large-12 columns">
    <h3><%= @repo.display_or_name %></h3>
    <hr>
    <p>
      Git Reports is currently experiencing heavy traffic.  Please try to submit your report again at <%= @reset_time.strftime("%b %d, %Y %I:%M %p") %>.
    </p>
  </div>
</div>