<div class="row">
  <div class="large-12 columns">
    <h3>Login Error</h3>
    <hr>
    <p>
      Git Reports is currently experiencing heavy traffic. Please try again later.
    </p>
  </div>
</div>