<div class='row'>
  <div class='col-xs-12'>
    <h3>About Git Reports</h3>
    <p>Git Reports is 100% unaffiliated with GitHub. It was made as an evening side project by <%= link_to 'Zach Schneider', 'https://schneid.io' %> to fill a personal need.</p>
    <h3>Source</h3>
    <p>Git Reports is open-sourced under the <%= link_to 'MIT License', 'http://opensource.org/licenses/MIT' %>.  Fittingly enough, the source code is <%= link_to 'hosted on GitHub', 'https://github.com/schneidmaster/gitreports.com' %>. You're welcome to clone, tweak, and self-host if you like.</p>
  </div>
</div>
